
.jumbotron
{
    background: url('image/Brooklyn.jpg') bottom center no-repeat;
    background-size:cover;
    color:white;
}

.caption p
{
    text-align:center;
}

.active-thumb
{
    border:solid purple !important;
}

.float-right
{
    position: relative;
    float: right;
    margin-top:5% !important;
}



.btn-trinity
{
    background-color: purple !important;
    margin-top:10%;
}

.btn-trinity a
{
       color: white !important;
}
