{% extends 'Union_1/base.html' %}

{% block title %} About Us {% endblock %}

{% block body_block %}

<div class="container">
        <div class="row">
        <div class="col-xs-12 col-md-8">
            <div class ="About-teaser" id="ABOUT">
                <h1>About Us </h1>
            <div class="pull-left embed-img">
                            <img src="/static/image/UA_Liberty.jpg" class="img-responsive img-rounded" alt="ICON for blog post"/></a>
            </div>
                <p id="US">
                    Founded in 1871, L'Union Alsacienne (UnAl) is a vibrant organization of Alsatians living in the United States, and of Alsatian-Americans, dedicated to upholding the Alsatian heritage, and to promoting Alsace.
                    <br/>
                    <br/>
                    For over 140 years L'Union Alsacienne has played an important role in the lives of newly-arrived Alsatian immigrants, providing them with a feeling of community, a contact with others from their beloved province.
                    <br/>
                    <br/>
                    More recently a new generation of Alsatian-Americans has created awider base of membership. We are not only the native-born immigrants who came to the United States seeking new opportunities.
                    <br/>
                    <br/>
                    We are also their wives and husbands, their children and grand-children, all holding Alsace close to our hearts, and keeping Alsatian culture and heritage alive through L'Union Alsacienne.</p>
                <p id="FR" class="hidden">
                    Créée en 1871, L'Union Alsacienne (UnAl) est une organisation dynamique rassemblant les Alsaciens de la Côte Est ainsi que les Américains d'origine alsacienne, qui ont souhaité préserver leurs liens avec l'Alsace et promouvoir leur région.
                    <br/>
                    <br/>
                    Durant plus de 140 ans, L'Union Alsacienne a joué un rôle important dans la vie des Alsaciens qui arrivent aux Etats-Unis, en leur offrant un sens de la communauté, un contact avec des gens qui partageaient les mêmes origines.
                    <br/>
                    <br/>
                    Plus récemment une nouvelle générationd'Américano-Alsaciens a créé une base plus large de membres. Nous ne sommes pas seulement des immigrants ou des Américains d'origine alsacienne.
                    <br/>
                    <br/>
                    Nous sommes aussi leurs épouses et leurs époux, leurs enfants et leurs petits enfants, qui tenons tous l'Alsace près du cœur, en souhaitant préserver la culture et les traditions alsaciennes par le biais de L'Union Alsacienne.
                    </p>
                <p id="DE" class="hidden">
                    Der 1871 gegründete L'Union Alsacienne (Elsässische Verband) ist eine dynamische Organisation, die sichaus in den Vereinigten Staaten von Amerika lebenden Elsässer Innen so wie US-Amerikaner Innen elsässischen Ursprungs zusammensetzt undsich für die Wahrung des elsässischen Erbes einsetzt.
                    <br/>
                    <br/>
                    Über 140 Jahre hat der Elsässische Verband eine wichtige Rolle für neu angekommende Migrant Innen aus dem Elsassgespielt. Die Organisation gab den Immigrant Innen das Gefühl, einer Gemeinschaft anzugehören und im engen Kontakt mit anderen aus ihrer geliebten Heimat zu sein.
                    <br/>
                    <br/>
                    In jüngerer Zeit hat sich die Mitglieder basis des Vereins durch eine neue Generation von US-Amerikaner Innen elsässischenUrsprungs erweitert. Mitglieder in unserem Verband sind über dieursprünglich im Elsass geborene Immigrant Innen hinaus, deren Ehefrauen und Ehemänner, deren Kinder und Enkelkinder.
                    <br/>
                    <br/>
                    Wir alletragen Elsass in unserem Herzen und halten die elsässer Kultur und Erbe am Leben durch den Elsässischen Verband.
                    </p>
                <a href = "#"><img class="flag" src="/static/image/German_20_20.png" id="DE_FLAG"/></a>
                <a href = "#"><img class="flag" src="/static/image/French_20_20.png" id="FR_FLAG"/></a>
                <a href = "#"><img class="flag" src="/static/image/USA_20_20.png" id="US_FLAG"/></a>
                <br>
                <hr>

            <h2>Download l'Union Alsacienne Bulletin</h2>
            <p>Twice a year, l'Union Alsacienne is publishing a bulletin giving fresh news from our lively community.
            Feel free to download our previous edition.</p>

            <div class="col-xs-12 col-md-5">
            <img src="/static/image/union_alsacienne_bulletin.jpg" />
            </div>

            <div class="col-xs-12 col-md-7 bulletin-list">
            <a href="/static/image/bulletin/union_alsacienne_bulletin_summer_2014.pdf" target="_blank"><p>FALL/WINTER 2014</p></a>
            <a href="#" target="_blank"><p>SPRING/SUMMER 2014</p></a>
            <a href="#" target="_blank"><p>FALL/WINTER 2013</p></a>
            <a href="#" target="_blank"><p>SUMMER/SPRING 2013</p></a>
            </div>

            </div>

        <div id="BUREAU">
        <h1>Meet the Bureau</h1>
            <div class = "pull-left bio-wrap">
                <div class="pull-left">
                    <img class="portrait" src="/static/image/thierry.jpeg"/>
                </div>
                <p class="portrait_name" >Thierry Kranzer</p>
                <p class="portrait_title">President</p>
                <p class="portrait_description">Loreum Ipsum Loreum Ipsum Loreum Ipsum Loreum Ipsum Loreum Ipsum Loreum Ipsum Loreum Ipsum Loreum Ipsum</p>
            </div>
            <div class = "pull-left bio-wrap">
                <div class="pull-left portrait_wrap">
                    <img class="portrait" src="/static/image/elected.jpg"/>
                </div>
                <p class="portrait_name">Benoit Meister</p>
                <p class="portrait_title">Vice President</p>
                <p class="portrait_description">Loreum Ipsum Loreum Ipsum Loreum Ipsum Loreum Ipsum Loreum Ipsum Loreum Ipsum Loreum Ipsum Loreum Ipsum</p>
            </div>
            <div class = "pull-left bio-wrap">
                <div class="pull-left portrait_wrap">
                    <img class="portrait" src="/static/image/elected.jpg"/>
                </div>
                <p class="portrait_name">Liliane Rubin</p>
                <p class="portrait_title">Vice President</p>
                <p class="portrait_description">Loreum Ipsum Loreum Ipsum Loreum Ipsum Loreum Ipsum Loreum Ipsum Loreum Ipsum Loreum Ipsum Loreum Ipsum</p>
            </div>
            <div class = "pull-left bio-wrap">
                <div class="pull-left portrait_wrap">
                    <img class="portrait" src="/static/image/elected.jpg"/>
                </div>
                <p class="portrait_name">Sylvestre Gug</p>
                <p class="portrait_title">Communication - Marketing</p>
                <p class="portrait_description">Loreum Ipsum Loreum Ipsum Loreum Ipsum Loreum Ipsum Loreum Ipsum Loreum Ipsum Loreum Ipsum Loreum Ipsum</p>
            </div>
            <div class = "pull-left bio-wrap">
                <div class="pull-left portrait_wrap">
                    <img class="portrait" src="/static/image/elected.jpg"/>
                </div>
                <p class="portrait_name">Sylvestre Gug</p>
                <p class="portrait_title">Communication - Marketing</p>
                <p class="portrait_description">Loreum Ipsum Loreum Ipsum Loreum Ipsum Loreum Ipsum Loreum Ipsum Loreum Ipsum Loreum Ipsum Loreum Ipsum</p>
            </div>
            <div class = "pull-left bio-wrap">
                <div class="pull-left portrait_wrap">
                    <img class="portrait" src="/static/image/elected.jpg"/>
                </div>
                <p class="portrait_name">Sylvestre Gug</p>
                <p class="portrait_title">Communication - Marketing</p>
                <p class="portrait_description">Loreum Ipsum Loreum Ipsum Loreum Ipsum Loreum Ipsum Loreum Ipsum Loreum Ipsum Loreum Ipsum Loreum Ipsum</p>
            </div>
            <div class = "pull-left bio-wrap">
                <div class="pull-left portrait_wrap">
                    <img class="portrait" src="/static/image/elected.jpg"/>
                </div>
                <p class="portrait_name">Sylvestre Gug</p>
                <p class="portrait_title">Communication - Marketing</p>
                <p class="portrait_description">Loreum Ipsum Loreum Ipsum Loreum Ipsum Loreum Ipsum Loreum Ipsum Loreum Ipsum Loreum Ipsum Loreum Ipsum</p>
            </div>
        </div>

        <div  id="ALSACE">
            <h1>About Alsace</h1>

            <h3>Tourism in Alsace</h3>
            <div class="pull-left embed-img">
                            <img src="/static/image/colombage_house.jpg" class="img-responsive img-rounded embed-img-alsace" alt="ICON for blog post"/></a>
            </div>
            <p>
            With its characteristic distinctiveness and its time-old traditions at the crossroads of France, Germany and
            Switzerland, Alsace is a region sure to be mentioned whenever the French
            talk about their gastronomy, art, history and culture.
            This is a land of adventure, a land of color and warmth, with a surprise around every corner.
            At 190 km long and 50 km wide, Alsace spans two départements: the Lower Rhine (Bas Rhin) to
            the north and the Upper Rhine (Haut Rhin) to the south.
            </p>
            <p><strong>Main Towns</strong></p>
            <ul style="list-style:none;">
                <li>Strasbourg, the European capital</li>
                <li>Colmar, the main center for Alsatian wines</li>
                <li>Mulhouse, Museums capital</li>
            </ul>
            <p><strong>Geographical Information</strong></p>
            <ul>
                <li>Surface area: 8280 km²</li>
                <li>From north to south: 190 km, making Alsace the smallest region in France</li>
                <li>Population: 1.7 million inhabitants</li>
            </ul>

            <p><strong>Climate</strong></p>
            <p>The Alsatian climate is semi-continental.
                The winters are hard and the summers are very warm. Rainfall is
                low (Colmar is the "driest town in France"), with the Vosges shielding the region from extreme weather conditions.
            </p>

           `<h3>Alsace... the Heart of Europe</h3>
            <div class="pull-right embed-img">
                            <img src="/static/image/cathedral.jpg" class="img-responsive img-rounded embed-img-alsace" alt="ICON for blog post"/></a>
            </div>

           <p>

           In Alsace, you'll discover ruined castles and cosmopolitan cities...
           Taste wine from centuries-old vineyards and savor gourmet cuisine...
           Explore Gothic churches and friendly, half-timbered villages.
           Long considered a microcosm of Europe, Alsace has a unique French and German heritage that is evident in its food,
           folklore and festivities.
           View Alsace's lush foothills and valleys from a "hot air balloon."
           Venture into Alsace's many enchanting "natural parks". Watch the sun set over the Vosges mountains.
           Take a leisurely tour through the "Routes des Vins", or historic wine roads.
           </p>
           <p>

           <p> No trip to Alsace would be complete without a walking tour of historic "Strasbourg", home of the majestic
           "Cathedral Notre Dame" and "La Petite France", the oldest and most beautifully preserved area of the city.
           And don't miss the beautiful town of "Colmar", with its medieval architecture, sculptured gables and fairytale houses.
           For car afficionados, the "Schlumpf Car Collection" at the "National Car Museum" is a must-see.
           And be sure to make time for the "Haut-Koenigsbourg Castle", one of the most popular attractions in Alsace,
           renowned for its sheer size and medieval magnificence, this towering fortress offers some of the most breathtaking views
           in all of Alsace.
           </p>

            <h3>Food in Alsace</h3>
            <div class="pull-left embed-img">
                            <img src="/static/image/kougelopf.jpg" class="img-responsive img-rounded embed-img-alsace" alt="ICON for blog post"/></a>
               </div>
            <p>
          Alsace, the region with the most gastronomic stars, has a wealth of great chefs,
          talented and experienced in local dishes as well as those with a modern twist.
          The secret ingredients to their celebrity-status come from drawing their inspiration from a vast array of resources in the region.
          Restaurants in the region offer traditional and refined cooking combined with cozy atmospheres that are a perfect
          way to celebrate joie de vivre.
          For starters, spoil yourself with a local special, foie gras, while sipping a Grand Cru selection from a local vineyard.
          If you are a traditionalist and in search for a flavourfull, hearty dish, be sure to ask for a fish or beef version of
          Beackaoeffa. Satisfy your sweet tooth cravings with a taste of Kougelhopf, a traditional Alsatian cake, and be sure to
          sample one of the many unforgettable cheeses. For instance, Munster, also known as the King of Cheese, may date back to a 9th
          century process, but its pleasures can be enjoyed at the end of any meal or as a picnic snack on the Route des Vins any time in
          the present.
            </p>

            <h3>
                Alsace, the Land of Fine Wines...</h3>
            <div class="pull-right embed-img">
                            <img src="/static/image/wine.jpg" class="img-responsive img-rounded embed-img-alsace" alt="ICON for blog post"/></a>
            </div>
             <p>
At the foot of the wooded slopes of the Vosges, overlooked by mysterious chateaux, the Alsatian wine producing villages with their outer walls, their friendly inns with ancient historical signs and their inimitable houses grouped around the church spire never fail to seduce those taking the time to stop off here. The Alsatian wine route snakes its way through the region from the north to the south across the vineyard covered hills, for more than 170 km. Along the way, wine trails, winstubs and friendly wine merchants (where you can taste some of the region’s treasures) invite you to discover the seven Alsatian grape varieties, embodying the taste and fragrances of the land which gave birth to them. Hiking or cycling here also offers a wonderful opportunity to soak up the region’s history, traditions or mysteries.
Seven traditionnal grape varieties : This is also the only French wine region to continue the age-old tradition of the grape varieties.</p>
            <p>
                Numbering seven in total, they have given their names to the area’s wines, which must always be bottled in their region of origin: Riesling, Pinot Blanc, Pinot Gris, Pinot Noir, Muscat d'Alsace, Sylvaner and Gewurztraminer.
             </p>

            <h1>More Information</h1>

             <div class="col-xs-12 col-md-4">
                <div class="thumbnail">
                    <a href="http://www.tourisme-alsace.com/en/"><img src="/static/image/alsace_tourisme.png" /></a>
                </div>
            </div>

            <div class="col-xs-12 col-md-4">
                <div class="thumbnail">
                    <a href="http://www.alsaceavelo.fr/"><img src="/static/image/alsace_velo.png" /></a>
                </div>
            </div>

            <div class="col-xs-12 col-md-4">
                <div class="thumbnail">
                    <a href="http://www.alsace-en-famille.com/"><img src="/static/image/alsace_famille.png" /></a>
                </div>
            </div>



        </div>

        <div  id="NYC">
            <h1>About New York</h1>
        </div>

        </div>

        <div class="col-xs-12 col-md-4 col-right">
            <h1>Union Alsacienne of New York</h1>
            <ul>
               <li><a href="#"><button class="btn btn-secondary btn-about-menu-active" id="ABOUTUS_LINK">About l'Union Alsacienne</button></a></li>
               <li><a href="#"><button class="btn btn-secondary  btn-about-menu" id="BUREAU_LINK">Meet the bureau</button></a></li>

               <li><a href="#"><button class="btn btn-secondary  btn-about-menu" id="ALSACE_LINK">About Alsace</button></a></li>
               <li><a href="#"><button class="btn btn-secondary  btn-about-menu"  id="NYC_LINK">Your guide to New York</button></a></li>
            </ul>

            <div class="row text-center">
            <img class="col-right-img" src="/static/image/steuben.jpeg"/>
            </div>
        </div>
        </div>
</div>

<script>$('#about').addClass('active');</script>
{% endblock %}