{% extends 'Union_1/base.html' %}

{% block title %} {{ event.title }} - {{ event.date }} {% endblock %}

{% block description %} {{ event.title }}, {{ event.date }} @ {{ event.venue }} {% endblock %}

{% block ogtag %}

<meta property="og:title" content="{{ event.title }} - {{ event.date }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.alsace.nyc/events/{{ event.url_link_og }}/" />
<meta property="og:description" content="{{ event.venue }} - {{ event.address }}" />
<meta property="og:site_name" content="Alsace.nyc" />

{% endblock %}

{% block body_block %}

<div class="container">
        <div class="row">
            <div class="col-xs-2 col-md-1" id="date-holder-event-page">
                <div class="blog-teaser pull-left">
                    <div class="pull-left date-holder-event-page">
                            <span class="day">{{ event.date|date:"d" }}</span><br>
                            <span class="month">{{ event.date|date:"M" }}</span><br>
                            <span class="year">{{ event.date|date:"Y" }}</span>
                    </div>
                </div>
            </div>

            <div class="col-xs-10 col-md-8">
                <div class="blog-teaser">
                    <h1>{{ event.title }}</h1>
                    <h4>{{ event.date }}</h4>
                   <!--Twitter Widget-->
                     <a href="https://twitter.com/share" class="pull-right twitter-share-button" data-count="none">Tweet</a>
                    <!--Facebook widget-->
                    <!--<div class="pull-right fb-share-button" data-href="http://www.alsace.nyc/events/{{ event.url_link_og }}/" data-layout="button" data-show-faces="true"></div>-->
                    <div class="pull-right fb-like" data-href="http://www.alsace.nyc/events/{{ event.url_link_og }}/" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-8">
                <div class="blog-teaser pull-left">
                    <p>{% autoescape off %} {{ event.description|linebreaks }} {% endautoescape %}</p>
                    {% if event.price %} <hr> <p>Price: ${{ event.price }}</p> {% endif %}
                    {% if event.url %} <p> Website: <a href="{{ event.url }}">{{ event.url }}</a></p>  {% endif %}
                    <hr>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-8">
                    <div class= "google_map">
                    <h4>{{ event.venue }}</h4>
                    <h5>{{ event.address }}</h5>

                    <iframe width="100%" height="100%" frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?q={{ event.google_direction }}&key=AIzaSyBAElrVHTeO4Alpk2dtBt6Q4Js1EtQbRWg"></iframe>

                    </div>

                {% if event.bwp_link %}
                <div class = "brown_paper_ticket">

                <link rel="stylesheet" type="text/css" href="{{ event.bwp_link }}" />
                <DIV ID="bpt_eventbody"><CENTER><BR><BR>Brown Paper Tickets Ticket Widget Loading...<BR>
                    <BR><A HREF="{{ event.bwp_link }}">Click Here</A> to visit the Brown Paper Tickets event page.</CENTER><BR><BR></DIV>

                    <script src="http://www.brownpapertickets.com/eventwidget.js?event={{ event.bwp_link|slice:'39:' }}&nodescription=1" type="text/javascript" language="javascript">

                    </script>

                    <script src="http://www.brownpapertickets.com/widget.js?event={{ event.bwp_link|slice:'39:' }}" type="text/javascript" language="javascript">

                    </script>


                </div>
                {% endif %}

            </div>
        </div>


                </div>
            </div>
        </div>
</div>

<script>$('#event').addClass('active');</script>

{% endblock %}