{% extends 'Union_1/base.html' %}
{% load cloudinary %}
{% block title %} Gallery {% endblock %}

{% block body_block %}



<div class="container">
    <div class="row">
       <div class="col-xs-12 col-md-12">
           <h1>L'Union Alsacienne of New York in pictures</h1>
       </div>
    </div>

	<div class="row">
		<div class="col-xs-12 col-md-12">
			{% for al in albums %}
				<h3>{{ al }}</h3>
				{% for photo in al.photo_feed.photoset.photo %}
					<div class="thumbnail" style="max-width:300px;">
						<img src="https://farm{{ photo.farm }}.staticflickr.com/{{ photo.server }}/{{ photo.id }}_{{ photo.secret }}.jpg" />
						<div class="caption">
							{{ photo.title }}
						</div>
					</div>
				{% endfor %}
			{% endfor %}
		</div>
	</div>


</div>

<script>$('#gallery').addClass('active');</script>


{% endblock %}