{% extends 'Union_1/base.html' %}

{% block title %} Home {% endblock %}

{% block body_block %}

    <!-- Content starts here -->
<div class="container" >

    <div id="jumbo_desktop">
    <!-- Carousel Jumbo-->

      <div id="myCarousel1" class="carousel slide" data-interval="5000" data-ride="carousel" >

      <div class="carousel-inner">
        <div class="item active jumbotron jumbotron_1">
          <div class="container">
            <div class="carousel-caption background_white">
              <h2 id="caption_black">Welcome to l'Union Als<img src="static/image/logo-Acoeur-24.png" class="alsa-coeur_mobile" alt="a">cienne of New York</h2>
            </div>
          </div>
        </div>
        <div class="item jumbotron jumbotron_2">

          <div class="container">
            <div class="carousel-caption">
             <h2>Welcome to l'Union Als<img src="static/image/logo-Acoeur-24.png" class="alsa-coeur_mobile" alt="a">cienne of New York</h2>
            </div>
          </div>
        </div>
        <div class="item jumbotron jumbotron_3">

          <div class="container">
            <div class="carousel-caption">

        <h2>Welcome to l'Union Als<img src="static/image/logo-Acoeur-24.png" class="alsa-coeur_mobile" alt="a">cienne of New York</h2>

            </div>
          </div>
        </div>
      </div>

      <a class="left carousel-control arrow" href="#myCarousel1" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control arrow" href="#myCarousel1" data-slide="next">&rsaquo;</a>

    </div><!-- /.carousel -->

    </div>

<div class = "alsace_nyc" id="jumbo_mobile">

        <h2>Als<img src="static/image/logo-Acoeur-8.png" class="alsa-coeur_mobile" alt="We love alsace!">ce.nyc</h2>

</div>



        <div class="row">

             <div class="col-xs-12 col-md-8">

                 <div class ="About-teaser" id="ABOUT">

                <p id="US">
                Founded in 1871, L'Union Alsacienne of New York is a vibrant organization of people from Alsace living in the United States, and of
                Alsaciens-Americans, dedicated to upholding the Alsace heritage, and to promoting Alsace.
                <a style="color:RGB(227,34,25);" href="/about-us/">[read more]</a>
                </p>

                <hr>
                </div>

                <h1 id="">Upcoming events</h1>
            {% if event_list %}
                {% for Event in event_list %}

                <div class="container-fluid event-teaser">
                <div class="pull-left date-holder">
                    <span class="day">{{ Event.date|date:"d" }}</span><br>
                    <span class="month">{{ Event.date|date:"M" }}</span><br>
                    <span class="year">{{ Event.date|date:"Y" }}</span>
                </div>
                    <h2><a href ="/events/{{ Event.url_link }}/">{{ Event.title }}</a></h2>
                    <p>When: {{ Event.date }} </p>
                    <p>Where: {{ Event.venue }} -
                    {{ Event.address }} <a href="http://maps.google.com/?q={{ Event.google_direction }}" target="_blank">[directions]</a></p>
                    <p>{% autoescape off %} {{ Event.description|linebreaks }} {% endautoescape %}</p>
                    {% if Event.price %} <p>Price: ${{ Event.price }}</p> {% endif %}
                    {% if Event.url %} <p> Website: <a href="{{ Event.url }}">{{ Event.url }}</a></p> {% endif %}
                    <hr>
                </div>

                {% endfor %}
            {% else %}

                 <p><em>No events currently planned, come back soon to get more news !</em></p>
            {% endif %}

            </div>
        <!-- Calendar starts here-->
        <div class="col-xs-12 col-md-4 col-right">

            <div class = "stay_in_touch">
                 <h1>Stay in touch</h1>
                 <p>Subscribe to our newsletter to stay in touch with us!</p>


<!-- Begin MailChimp Signup Form -->

<div id="mc_embed_signup">
<form action="//UNAY.us3.list-manage.com/subscribe/post?u=329119448809907e23753d6b7&amp;id=b85a7366f7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
    <div class="form-group">
	<label class="sr-only" for="mce-EMAIL"><h2>Subscribe to our mailing list</h2></label>
    <div class="input-group input_mobile_adjust">
	<div class="input-group-addon">@</div><input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="email address" required>
    </div>
    </div>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_329119448809907e23753d6b7_b85a7366f7" tabindex="-1" value=""></div>

    <div class="clear "><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary subscribe_up_adjust"></div>


</form>
</div>

<!--End mc_embed_signup-->





            </div>

            <div class="become_a_memeber">
                <h1>Join Us</h1>
                <p>Join a vibrant organization of people from Alsace living in the Tri-State Area!</p>
                <a href="/members/"><button class="btn brn-primary become_index">Become a Member</button></a>
           </div>

            <div class="sponsor">
                <h1>Sponsors</h1>


    <div>
    <div id="myCarousel2" class="carousel slide" data-interval="3000" data-ride="carousel">
    	<!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel2" data-slide-to="1"></li>
            <li data-target="#myCarousel2" data-slide-to="2"></li>
            <li data-target="#myCarousel2" data-slide-to="3"></li>
            <li data-target="#myCarousel2" data-slide-to="4"></li>
            <li data-target="#myCarousel2" data-slide-to="5"></li>


        </ol>
       <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item">

                <a href="http://www.melforusa.com/" target="_blank"><img class="sponsor-logo" src="/static/image/sponsor_melfor.png" /></a>

            </div>
            <div class="item">

                 <a href="http://www.alainsbistro.com/" target="_blank"><img class="sponsor-logo" src="/static/image/sponsor_alain.png" /></a>

            </div>

            <div class="item">

                 <a href="http://www.cafedalsace.com/" target="_blank"><img class="sponsor-logo" src="/static/image/sponsor_cafe_alsace.png" /></a>

            </div>

            <div class="item">

                 <a href="http://www.letoutvabien.com/" target="_blank"><img class="sponsor-logo" src="/static/image/sponsor_Cigogne.png" /></a>

            </div>

            <div class="item">

                 <a href="http://www.opiarestaurant.com/" target="_blank"><img class="sponsor-logo" src="/static/image/sponsor_opia.png" /></a>

            </div>

            <div class="item">

                 <a href="http://www.latarteflambee.com/" target="_blank"><img class="sponsor-logo" src="/static/image/sponsor_tarte_flambee.png" /></a>

            </div>

        </div>

        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel2" data-slide="prev">
            <i style="margin-top:175%;color:black;" class="fa fa-chevron-left"></i>
        </a>
        <a class="carousel-control right" href="#myCarousel2" data-slide="next">
            <span style="margin-top:175%; color:black;" class="fa fa-chevron-right"></span>
        </a>
    </div>
</div>

            <div class="row text-center">
                  <img class="col-right-img" src="/static/image/steuben.jpeg"/>
            </div>
            </div>



        </div>
            </div>
        </div>
        <!--Calendar ends here-->
        <!--First row ends here-->
 </div>
    <!-- Content ends here -->
 <script>$('#home').addClass('active');</script>
{% endblock %}
