{% extends 'Union_1/base.html' %}

{% block title %} About Union Alsacienne {% endblock %}

{% block body_block %}

<div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8">

                <h1>Become a Member</h1>

            <p>To become a member of l'Union Alsacienne of New-York you must be:
                <ul>
                <li>born in Alsace</li>
                <li>of Alsatian descent</li>
                <li>married to an Alsatian</li>
                </ul>
            <p>
                By becoming a member, you're invited to our events with a special price and subscribe to our quarterly bulletin.
            </p>
        <a href="/membership/become_a_member"><button class="btn become_index">Become a Member</button></a>
        <h1>Become a Friend</h1>
        <p> You can become a Friend of l'Union Alsacienne<br>
        By becoming a friends of l'Union Alsacienne, you'll have access to our events at a special price and will receive our quarterly bulletin.</p>
                <a class = "becomeLink" href="/membership/become_a_friend"><button class="btn become_index">Become a Friend</button></a>
            </div>


            <div class="col-xs-12 col-md-4 col-right">

            <div class = "stay_in_touch">
            <h1>Upcoming Events</h1>

            {% for Event in event_list %}
                    {% if Event.comp == 'upcoming' or Event.comp == 'today' %}
                <div class="container-fluid event-teaser">
                    <h3><a href ="/events/{{ Event.url_link }}/">{{ Event.title }}</a></h3>
                    <p>{{ Event.date }} </p>
                    <hr>
                </div>
                    {% endif %}
                {% endfor %}

            </div>



            <div class="sponsor">
                <h1>Sponsors</h1>


    <div>
    <div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
    	<!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
            <li data-target="#myCarousel" data-slide-to="5"></li>
            <li data-target="#myCarousel" data-slide-to="6"></li>

        </ol>
       <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item">

                <a href="http://www.melforusa.com/" target="_blank"><img class="sponsor-logo" src="/static/image/sponsor_melfor.png" /></a>

            </div>
            <div class="item">

                 <a href="http://www.alainsbistro.com/" target="_blank"><img class="sponsor-logo" src="/static/image/sponsor_alain.png" /></a>

            </div>

            <div class="item">

                 <a href="http://www.cafedalsace.com/" target="_blank"><img class="sponsor-logo" src="/static/image/sponsor_cafe_alsace.png" /></a>

            </div>

            <div class="item">

                 <a href="http://www.lacigognenyc.com/" target="_blank"><img class="sponsor-logo" src="/static/image/sponsor_Cigogne.png" /></a>

            </div>

            <div class="item">

                 <a href="http://www.opiarestaurant.com/" target="_blank"><img class="sponsor-logo" src="/static/image/sponsor_opia.png" /></a>

            </div>

            <div class="item">

                 <a href="http://www.pierresbridgehampton.com/" target="_blank"><img class="sponsor-logo" src="/static/image/sponsor_Pierre_s.png" /></a>

            </div>

            <div class="item">

                 <a href="http://www.latarteflambee.com/" target="_blank"><img class="sponsor-logo" src="/static/image/sponsor_tarte_flambee.png" /></a>

            </div>

        </div>

        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <i style="margin-top:175%;color:black;" class="fa fa-chevron-left"></i>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span style="margin-top:175%; color:black;" class="fa fa-chevron-right"></span>
        </a>
    </div>
</div>

            <div class="row text-center">
                  <img class="col-right-img" src="/static/image/steuben.jpeg"/>
            </div>
            </div>

        </div>


        </div>
</div>
</div>
</div>

        <script>$('#membership').addClass('active');</script>
{% endblock %}