{% extends 'Union_1/base.html' %}

{% block title %} Become a Friend {% endblock %}

{% block body_block %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <div class = "form-header">
                <h1>Membership/Friendship renewal</h1>
                <h6><span style="color:red;" class='glyphicon glyphicon-asterisk'></span> are required fields.</h6>
                </div>
            </div>
        </div>

                <form id="become_a_friend_form" method="post" action="/membership/renewal/" role="form">

                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}


                    {% for field in form.visible_fields %}

                        {% if field.name == "member_type" %}
                                <div class="row">
                                    <div class="col-xs-6 col-md-12 no_padding">

                                        <div class="form-group renewal">

                                    {{ field }}

                                        </div>

                                    </div>
                                </div>

                <div class = "row">
                    <div class="col-xs-6 col-md-4">
                        {% elif field.name == "first_name" %}

                        <div class="form-group">
                            <label class="label_form">First Name <span style="color:red;" class='glyphicon glyphicon-asterisk'></span>: </label>
                            {{ field }}
                        </div>


                        {% elif field.name == "last_name" %}

                         <div class="form-group">

                            <label class="label_form">Last Name <span style="color:red;" class='glyphicon glyphicon-asterisk'></span>: </label>
                            {{ field }}
                        </div>


                        {% elif field.name == "email" %}
                        <div class="form-group">
                            <label class="label_form">Email <span style="color:red;" class='glyphicon glyphicon-asterisk'></span>:</label>
                            {{ field }}
                        </div>
                </div>
            </div>
            <div class ="row">
                <div class="col-xs-12 col-md-8">
                 <hr>

                        {% elif field.name == "address" %}
                        <div class="form-group">
                            <label class="label_form">Address</label>
                            {{ field }}
                        </div>

                        {% elif field.name == "city" %}
                        <div class="col-xs-8 col-md-5 no_padding">
                        <div class="form-group">
                            <label class="label_form">City</label>
                            {{ field }}
                        </div>
                        </div>


                                {% elif field.name == "zip" %}
                                <div class="col-xs-4 col-md-3 no_padding">
                                <div class="form-group">
                                <label class="label_form">Zip</label>
                                {{ field }}
                                </div>
                                </div>


                                {% elif field.name == "state" %}
                                <div class="col-xs-6 col-md-4 no_padding">
                                <div class="form-group">
                                <label class="label_form">State</label>
                                {{ field }}
                                </div>
                                </div>

                        {% endif %}
                    {% endfor %}

                  </div>
            </div>


            <div class = "row">
                <div class = "col-xs-12 col-md-8">
                    <div class="form-group">

                        <input type="submit" class="btn btn-primary pull-right btn-member" name ="submit" value="Submit" />

                    </div>
                <p> Question? Please <a href="/union/contact_us/">contact us.</a></p>
                </div>
            </div>
            </form>


</div>

<script>$('#membership').addClass('active');</script>
{% endblock %}